@use "../../../assets/styles/mixins" as *;

.field {
  @apply py-2;

  .label {
    @apply block mb-1 text-sm font-medium text-neutral-700;
  }

  input {
    @apply bg-neutral-50 font-medium text-lg rounded-lg;
    @include shadow('md');
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    outline: none;

    &::placeholder {
      color: #b8b09e;
    }

    &:focus {
      @apply
      focus:border-neutral-600
      focus:ring-2
      focus:ring-inset
      focus:ring-neutral-600;
    }
  }

  .error {
    @apply p-1 text-neutral-900;
    font-size: 0.75rem;
  }

}

