@use "../../../assets/styles/mixins" as *;

.field {
  @apply py-2;
}

.label {
  @apply block mb-1 text-sm font-medium text-neutral-700;
}

.input {
  @apply bg-neutral-50/80 font-medium text-lg rounded-lg border border-neutral-300 transition-all duration-200;
  @include shadow('md');
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  outline: none;

  &::placeholder {
    color: #b8b09e;
  }

  &:focus {
    @apply border-primary-500 ring-2 ring-inset ring-primary-500 shadow-lg;
  }
}

.inputError {
  @apply border-error ring-error;
}

.error {
  @apply p-1 text-error;
  font-size: 0.75rem;
}

